.contacto-container {
  max-width: auto;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(34, 33, 33);
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}



.contacto-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contacto-form input,
.contacto-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.contacto-form button {
  padding: 10px;
  background-color: #11365f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contacto-form button:hover {
  background-color: rgb(97, 97, 106);
}
