.detalle-container {
  display: flex;
  gap: 30px;
  padding: 20px;
  background-color: rgb(34, 33, 33);
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 800px;
  align-items: center;
  flex-wrap: wrap;
}

.detalle-imagen {
  width: 180px;
  height: 180px;
  border-radius: 5px;
  object-fit: cover;
}

.detalle-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  min-width: 250px;
}

.detalle-contador {
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
}

.detalle-contador span {
  font-size: 18px;
  color: black;
}

/* Media Queries */
@media (max-width: 768px) {
  .detalle-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .detalle-imagen {
    width: 90%;
    max-width: 300px;
  }

  .detalle-info {
    width: 100%;
    padding: 10px;
  }

  .detalle-contador {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .detalle-imagen {
    width: 100%;
  }

  .detalle-info {
    font-size: 14px;
  }

  .detalle-contador span {
    font-size: 16px;
  }

  button {
    font-size: 14px;
    padding: 6px 12px;
  }
}

